@import '../../sass/variables.scss';

.navbar{
    width: 100%;
    height: 100%;
    color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: .5s all ease-in-out;


    // &-img{
        
    // }

    &-nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .nav{
            
            text-decoration: none;
            list-style: none;
            width: 100%;

            li{
                width: 100%;
                height: 6rem;
                display: flex;
                align-items: center;
                
                &:hover{
                    background: #2e2e2e;
                }

                div{
                    padding-left: 8rem;

                    .link{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }

    &-icons{
        width: 100%;
        display: flex;
        justify-content: space-around;

        &--icon{
            
            a{
                text-decoration: none;
                img{
                    width: 3rem;
                }
            }

        }
    }
}

@-webkit-keyframes bounceOutLeft {
    20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
    }

    to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    }
}

@keyframes bounceOutLeft {
    20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
    }

    to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    }
}