@import "./sass/variables.scss";

.App {
  display: flex;
  height: 100%;

  &__left{
    width: 42rem;
    height: 100vh;
    background: $color-black;

    @include respond(tab-land){
      width: 32rem;
    }

    @include respond(tab-port){
      position: absolute;
      z-index: 100;
      width: 25rem;
      top: 0;
      left: 0;  
    }
  }

  &__right{
    width: 100%;
    height: 100vh;

    .route-wrapper {
      position: relative;
    }
    
    .route-wrapper > div {
      position: absolute;
      height: 100vh;
    } 
  }

  .navAnimation-enter{
    opacity: 0;
    width: 0;
    transition: .5s all ease-in-out; 
  }

  .navAnimation-enter-active{
    opacity: 1;
    width: 42rem;

    @include respond(tab-port){
      width: 25rem;
    }
  }
  
  .navAnimation-exit{
    opacity: 1;
    width: 42rem;
    transition: all .5s;

    @include respond(tab-port){
      width: 25rem;
    }
  }

  .navAnimation-exit-active{
    opacity: 0;
    width: 0;
  }
}

#root{
  width: 100%;
  height: 100%;
}
