$color-nav: #02142d;
.App {
  display: flex;
  height: 100%;

  &__left{
    width: 42rem;
    height: 100vh;
    background: $color-nav;
  }

  &__right{
    width: 100%;
  }

  .navAnimation-enter{
    opacity: 0;
    width: 0;
    transition: .5s all ease-in-out; 
  }

  .navAnimation-enter-active{
    opacity: 1;
    width: 42rem;
  }
  
  .navAnimation-exit{
    opacity: 1;
    width: 42rem;
    transition: all .5s;
  }

  .navAnimation-exit-active{
    opacity: 0;
    width: 0;
  }
}

#root{
  width: 100%;
  height: 100%;
}
