$color-nav: #02142d;
.App {
  display: flex;
  height: 100%;

  &__left{
    width: 42rem;
    height: 100vh;
    background: $color-nav;
  }

  &__right{
    width: 100%;
  }
}

#root{
  width: 100%;
  height: 100%;
}
