@import '../../sass/variables.scss';

.profile{
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port){
        overflow: scroll;
        overflow-x: hidden;
    }

    @include respond(sd-screen){
        overflow-x: hidden;
        overflow-y: scroll;
    }

    &_con{
        display: flex;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;

        @include respond(sd-screen){
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }

        @include respond(tab-port){
            margin: 0;
        }

        @include respond(phone){
            margin-top: 80rem;
        }
    }

    &_header{
        position: absolute;
        top: 7rem;
        left: 2rem;

        @include respond(phone){
            font-size: 1.7rem;
        }

        @include respond(tab-land){
            top: 4rem;
            left: 0rem;
        }
    }

    &_img{
        width: 27%;

        @include respond(sd-screen){
            display: inline-block;
            width: 20%;
        }

        @include respond(phone){
            width: 40%;
        }
    }

    &_desc{
        width: 65%;
        margin-left: 10rem;

        @include respond(sd-screen){
            width: 94%;
            margin: 3rem;
        }
    }

    &_tagline{
        font-family: 'Lobster', cursive;
        font-size: 5rem;
        justify-self: center;
        align-self: center;
        position: relative;
        top: 15rem;
        
        @include respond(sd-screen){
            top: 2rem;
        }

        @include respond(tab-land){
            font-size: 3rem;
        }

        @include respond(phone){
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        &-svg{
            width: 6rem;
            display: inline-block;

            @include respond(tab-land){
                width: 3.5rem;
            }

            @include respond(phone){
                width: 1.5rem;
            }
            .left{
                width: 100%;
                object-fit: cover;
                transform: translate(0, -3rem);

                @include respond(tab-land){
                    transform: translate(0, -2rem);
                }
            }

            .right{
                width: 100%;
                object-fit: cover;
                transform: translate(0, -3rem);

                @include respond(tab-land){
                    transform: translate(0, -2rem);
                }
            }
        }
    }
}

.svg{
    z-index: -11;
}

.svgBlue{
    width: 25rem;

    @include respond(phone){
        width: 21rem;
    }
}

.svgYellow{
    width: 48rem;

    @include respond(phone){
        width: 32rem;
    }
}

.svgYellow-left{
    // grid-column: 1/2;
    // grid-row: 1/2;
    position: absolute;
    bottom: -17rem;
    left: -15rem;
}

.svgYellow-right{
    position: absolute;
    top: -15rem;
    right: -19rem;
}

.svgBlue-left{
    position: absolute;
    top: -10rem;
    left: -10rem;
}

.svgBlue-right{
    position: absolute;
    bottom: -10rem;
    right: -10rem;
}

.svg{

    img{
        width: 100%;
        object-fit: cover;
    }
}